.r1{
	background-color: red;
}
.r2{

	background-color: pink;

}
.r3{
	background-color: #EFC82B;
}
.r4{
	background-color: #91FF8C;
}
.r5{
	background-color: #56D2FB;
}
.r6{
	background-color: #7062F2;
}