.r1{
	background-color: #FF7171;
}
.r2{

	background-color: #FC9FAF;

}
.r3{
	background-color: #EFC82B;
}
.r4{
	background-color: #91FF8C;
}
.r5{
	background-color: #56D2FB;
}
.r6{
	background-color: #FF9F52;
}